<app-toolbar></app-toolbar>
<div class="container">
  <h1>Detalhes da Nave Espacial</h1>
  <div>
    <span class="description">
      <p class="title">Nome da Nave:</p>
      <p>{{starship.name}}</p>
    </span>

    <span class="description">
      <p class="title">Fabricante da Nave:</p>
      <p>{{starship.manufacturer}} </p>
    </span>

    <span class="description">
      <p class="title">Modelo da Nave:</p>
      <p>{{starship.model}} </p>
    </span>

    <span class="description">
      <p class="title">Capacidade de Carga da Nave:</p>
      <p>{{starship.cargo_capacity}} Kg</p>
    </span>

  </div>
</div>
